/*-- scss:defaults --*/

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Colors 
$apple-green: #A9B83D;
$moss-green: #8EA253;
$brat-green: #8ACE00;
$spring-bud: #AAFF00;
$black: #000000;

// Quarto Sass Variables 
$footer-bg: $brat-green; // footer
$navbar-hl: $brat-green; // navbar highlight
$link-color: $brat-green; // link highlight

/*-- scss:rules --*/




